* {
    color: #FFF824;
    font-family: Verdana, Tahoma, sans-serif;
}

/*topper*/

#topper {
    background-image: url("images/notext.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
    margin-bottom: 20px;
}

#headtext {
    display: block;
    margin: 0 auto;
    text-align: center;
}

#name {
    padding-top: 3.15em;
    font-weight: bold;
    font-size: 4em;
}

#occupation {
    font-weight: bold;
    font-size: 2em;
}

/*body*/

#backgroundcon {
    width: 100%;
    margin: 0 auto;
    background-color: #4C187A;
}

#textcon {
    width: 80%;
    margin: 0 auto;
}

.subhead {
    font-size: 2em;
    text-decoration: underline;
    font-weight: bold;
}

#portrait {
    margin-top: 3em;
}

#mypic {
    display: block;
    margin: 0 auto;
    width: 15em;
    border: 3px solid #FFF824;
    border-radius: 15px;
}

#aboutme {
    margin-top: 4em;
}

.section {
    margin-top: 2em;
}

/*work sections*/

.work {
    background-color: white;
    padding: .5em 1em;
    border-radius: 15px;
}

.work div {
    color: black;
}

.workhead {
    font-weight: bold;
    font-size: 1.5em;
}

.date {
    font-size: .75em;
    font-style: italic;
    margin-bottom: .2em;
}

.navbar-custom {
    background-color: #4C187A !important;
}
