#backgroundcon {
    width: 100%;
    margin: 0 auto;
    background-color: purple;
}

#textcon {
    width: 80%;
    margin: 0 auto;
}

#topper {
    background-image: url("images/notext.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
    margin-bottom: 20px;
}