/*!-- styles for my resume */

BODY {
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 1em;
    color: #444;
    font-weight: 400;
}

#container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 50px;
}

#title {
    font-weight: 600;
    text-align: center;
    margin: 20px 0px 0px;
}

.menu {
    text-align: center;
    margin: 0px;
    padding: 0px;
    display: inline;
}

#name {
    font-size: 3.5em;
    text-transform: uppercase;
    color: #33485e;
    text-align: center;
    border-bottom: 2px solid #33485e;
    width: 60%;
    min-width: 300px;
    margin: 0 auto;
}

strong {
    font-size: 2em;
    text-transform: uppercase;
    color: #33485e;
}

.sectionheader {
    font-size: 1.5em;
    text-transform: uppercase;
    background-color: #33485e;
    color: white;
    font-weight: 400;
    margin: 20px 10px 0;
    width: 70%;
    min-width: 300px;
}

.jobtitle {
    font-size: 2em;
    font-weight: 600;
}

.organization {
    font-size: 1.5em;
    font-weight: 400;
}

.date {
    font-size: 1em;
    font-weight: 400;
    font-style: italic;
    margin-top: 3px 0px 0px;
}

.description {
    margin: 10px 10px 0px;
}

#degrees {
    margin: 5px 0px 0px;
}

#do {
    margin: 5px 0px 0px;
}

li {
    font-size: 1em;
}

.top {
    width: 60%;
    min-width: 300px;
    margin: 0 auto;
    margin-bottom: 30px;
}