#masthead {
    font-family: 'Fira Sans', sans-serif;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

p {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}
